body {
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 32, 94);
    
}

/* p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 25px;
    color: rgb(15, 195, 215);
  } */

/* button{
    display: flex;
    align-self: center;
    width: 800px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;

} */

.gifhouse{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: clamp(57px, 40vw, 400px);
    height: clamp(100px, 70vw, 700px);
    border: 2px solid white;
    padding: 20px;
    margin-bottom: 5%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: white;
    position: relative;    
    box-shadow:  -8px 8px 0px #add8e6;
    /* box-sizing: border-box; */
    overflow: hidden;
    overflow-y: scroll;

}

.gif {
    border-radius: 5px;
    width: clamp(50px, 50vb, 200px);
    /* max-width: 200px; */
    margin-top: 5px;
    align-self: start;
    box-shadow:  -5px 5px 5px lightgray;
}

.text {
    width: 75%;
    /* height: 10%; */
    align-self: end;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1px, 2vmin, 22px);
    line-height: 1;
    padding: 10px;
    border-radius: 5px;
    text-align: start;
    background-color: rgb(28, 104, 254);
    margin-top: 5px;
    position: relative;
    box-shadow:  5px 5px 5px lightgray;
    bottom: 0;
}

#animex {
    border-radius: 20%;
    display: flex;
    align-self: center;
    width: 50px;
    height: 50px;
    background-color: #add8e6;
    position: relative;
    margin-bottom: 2% auto;
    /* z-index: 100; */

}